<!DOCTYPE html>
<html>
<head>
    <title>Resources</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">>
    <meta charset="UTF-8">
</head>    
    
<body>
    <header>
		<a  class="first" id="gb" href="{{ url_for('main.index') }}">Go Back</a>
		<!-- <a  class="first" id="lo" href="">Log out</a> -->
	</header>
    
	<div>
		<h1>Resources</h1>
			<nav class="container">
				<a class="zone red" href="https://drive.google.com/open?id=1ANKZagOLA2SznNigeMDnIOv2eALw4MjV">Pathway Resources</a><br>
				<a class="zone white" href="https://www.toastmasters.org/About/90th-Anniversary/90-Tips">90 tips to becoming a great speaker</a><br>
				<a class="zone red" href="https://www.toastmasters.org/magazine/magazine-issues/2016/oct2016/evaluation">How to deliver an evaluation</a><br>
				<a class="zone white" href="https://www.toastmasters.org/membership/club-meeting-roles">The role players and their duties</a><br>
				<a class="zone red" href="https://www.toastmasters.org/leadership-central/club-officer-tools">Tools for club officers</a><br>
			</nav>
	</div>

</body>
</html>

